.content-section {
    border: 2px solid green;
}

div {
    display: block;
}

/* ----------------------Buttons */
.button {
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px auto;
    background-color: #cc0000;
    border-radius: 8px;
    color: white;
}

/* ----------------------Map */
#map {
    width: 100%;
    height: 500px;
}

/* ---------------------Header */
.introduction {
    text-align: center;
}

/*----------------------Quiz */
.quiz-area {
    box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------Media queries */
/*The below code centres the page headings in the drop-down nav menu*/
@media screen and (max-width: 985px) {
    .drop-center {
        text-align: center;
        align-items: center;
    }
}