.content-section {
    border: 2px solid green;
}

div {
    display: block;
}

/* ----------------------Buttons */
.button {
    align-items: center;
    text-align: center;
    /* margin: 0 10vw; */
}

.button-row {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}