.content-section {
    border: 2px solid green;
}

div {
    display: block;
}

/* ----------------------Map */
#map {
    width: 100%;
    height: 500px;
}

/* ---------------------Header */
.introduction {
    text-align: center;
}

/*----------------------Quiz */
#quiz-heading {
    font-size: 2.5rem;
    padding-top: 2px;
}

.quiz-text {
    text-align: center;
    align-items: center;
}

.quiz-outer {
    box-sizing: border-box;
    background-color: rgb(204, 204, 255);
    width: 90%;
    /* height: 65vh; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px;
    padding-bottom: 40px;
}

.quiz-inner {
    box-sizing: border-box;
    background-color: white;
    position: relative;
    /* width: 90%; */
    height: auto;
    min-height: 30vh;
    margin-right: 40px;
    margin-left: 40px;
    border: 1px solid black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 10px;
}

#begin-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#quiz-question {
    margin-top: 10px;
}

#begin-button {
    /* position: absolute; */
    max-width: 10vw;
    margin-top: 30px;
    clear: both;
}

#next-button {
    display: block;
}

.quiz-button {
    width: 55%;
    height: 60px;
    /* left: 44%;  */
    min-width: 100px;
    margin-top: 30px;
    /* margin-left: 20px; */
    align-items: center;
    text-align: center;
    clear: both;
    margin: 20px auto;
    background-color: #cc0000;
    border-radius: 8px;
    color: white;
    display: block;
}

#score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

#begin-score-wrapper {
    flex-wrap: wrap;
}

.quiz-image {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 5px;
    /* margin: 5px; */
    border: 1px solid #ccc;
    display: block;
    align-items: center;
    text-align: center;
    clear: both;
}

.hide {
    display: none;
}

.results-table{
    /* display: none; */
    table-layout: fixed;
}

/* ----------------------Buttons */
.button {
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px auto;
    background-color: #cc0000;
    border-radius: 8px;
    color: white;
}

.button-quiz {
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px auto;
    background-color: #cc0000;
    border-radius: 8px;
    color: white;
}

.move-down {
    margin-top: 50px;
}

/* ---------------------Footer */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #99ccff;
}


/* ---------------------Media queries */
/*The below code centres the page headings in the drop-down nav menu*/
@media screen and (max-width: 985px) {
    .drop-center {
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 375px) {
    .quiz-inner {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }
}